<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculation Addiiton</h1>
    <!-- this is the ejs code and = represents printing -->
    <h5>Result: <%= finalres%></h5>         
    <a href="/calc/home">Back</a>


    <h1>Calculation multipictaion</h1>
    <!-- this is the ejs code and = represents printing -->
    <h5>Result: <%= finalres%></h5>         
    <a href="/calc/home">Back</a>


     
</body>
</html>